
<%- layout('base') %>

<style>
  th {
  text-align:center;
}
</style>

<h1 class="page-heading">Board <small>자유게시판</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/board">커뮤니티</a></li>
  <li class="active">자유게시판</li>
  <li><a href="/notice/stu/write"><i class="fa fa-pencil">&nbsp;글 작성</i></a></li>
</ol>
<!-- End breadcrumb -->

<!-- Begin table hover -->
<div class="the-box no-border">
<div margin="auto">
<h4 class="small-title">글 목록</h4>
  <div class="table-responsive">
    <table class="table table-th-block table-hover" style="text-align:center;">
      <thead>
        <tr><th style="width: 30px;">No</th><th>제목</th><th>작성자</th><th>작성일</th><th>조회수</th></tr>
      </thead>
      <tbody>
        <tr><td>1</td><td>안녕하세요!</td><td>김경이</td><td>2017-12-18T17:02:00.000Z</td><td>1</td></tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
</div><!-- /.the-box -->
<!-- End table hover -->
