
<%- layout('base') %>

<script language="javascript">
  function clubPost(clubname){
    var theForm = document.ClubForm;
    theForm.method = "post";
    theForm.action = "/club/register/"+clubname;
    theForm.submit();
  }

	function upload_click(){
     document.getElementById("dia_upload").style.display = '';
	}
</script>

<!-- Begin page heading -->
<h1 class="page-heading">Club <small> 전체게시판</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/board">동아리</a></li>
  <li class="active">전체게시판</li>
</ol>
<!-- End breadcrumb -->


<div class="row">
  <div class="col-md-4 col-sm-8">

    <!-- BEGIN TEAM LIST -->
    <div class="panel panel-success panel-square panel-no-border">
      <div class="panel-heading">
      <div class="right-content">
        <button class="btn btn-success btn-sm to-collapse" data-toggle="collapse" data-target="#panel-collapse-4"><i class="fa fa-chevron-up"></i></button>
      </div>
      <h4 class="panel-title"><i class="fa fa-users"></i> 동아리 회장</h4>
      </div>
      <div id="panel-collapse-4" class="collapse in" style="padding-left:20px; padding-right:20px;">
        <div class="panel-body">
        <form name="ClubForm">
        <ul class="media-list media-sm media-team">
          <li class="media">
            <a class="pull-left" href="#fakelink">
              <img class="media-object img-circle" src="/img/avatar/avatar.jpg" alt="Avatar">
            </a>
            <div class="media-body">
              <table><tr>
                <td width="170px;"><h4 class="media-heading">박주현</h4>
                  <p class="text-danger">다솜 2017 회장</td>
                <td><button class="btn btn-success" onclick="clubPost('dasom');">
                  <i class="glyphicon glyphicon-plus"></i></button></td>
              </tr></table>
            </div>
          </li>
          <li class="media">
            <a class="pull-left" href="#fakelink">
              <img class="media-object img-circle" src="/img/avatar/avatar.jpg" alt="Avatar">
            </a>
            <div class="media-body">
              <table><tr>
                <td width="170px;"><h4 class="media-heading">김현우</h4>
                  <p class="text-danger">Return 2017 회장</td>
                <td><button class="btn btn-success" onclick="clubPost('return');">
                  <i class="glyphicon glyphicon-plus"></i></button></td>
              </tr></table>
            </div>
          </li>
          <li class="media">
            <a class="pull-left" href="#fakelink">
              <img class="media-object img-circle" src="/img/avatar/avatar.jpg" alt="Avatar">
            </a>
            <div class="media-body">
              <table><tr>
                <td width="170px;"><h4 class="media-heading">안병훈</h4>
                  <p class="text-danger">T.G. Wing 2017 회장</td>
                <td><button class="btn btn-success" onclick="clubPost('tgwing');">
                  <i class="glyphicon glyphicon-plus"></i></button></td>
              </tr></table>
            </div>
          </li>
          <li class="media">
            <a class="pull-left" href="#fakelink">
              <img class="media-object img-circle" src="/img/avatar/avatar.jpg" alt="Avatar">
            </a>
            <div class="media-body">
              <table><tr>
                <td width="170px;"><h4 class="media-heading">김한주</h4>
                  <p class="text-danger">D.com 2017 회장</td>
                <td><button class="btn btn-success" onclick="clubPost('dcom');">
                  <i class="glyphicon glyphicon-plus"></i></button></td>
              </tr></table>
            </div>
          </li>
          <li class="media">
            <a class="pull-left" href="#fakelink">
              <img class="media-object img-circle" src="/img/avatar/avatar.jpg" alt="Avatar">
            </a>
            <div class="media-body">
              <table><tr>
                <td width="170px;"><h4 class="media-heading">김동현</h4>
                  <p class="text-danger">N.E.T 2017 회장</td>
                <td><button class="btn btn-success" onclick="clubPost('net');">
                  <i class="glyphicon glyphicon-plus"></i></button></td>
              </tr></table>
            </div>
          </li>
          <li class="media">
            <a class="pull-left" href="#fakelink">
              <img class="media-object img-circle" src="/img/avatar/avatar.jpg" alt="Avatar">
            </a>
            <div class="media-body">
              <table><tr>
                <td width="170px;"><h4 class="media-heading">최원섭</h4>
                  <p class="text-danger" onclick="clubPost('hacker');">해커 2017 회장</td>
                <td><button class="btn btn-success">
                  <i class="glyphicon glyphicon-plus"></i></button></td>
              </tr></table>
            </div>
          </li>
        </ul>
        </form>
        </div><!-- /.panel-body -->
      </div><!-- /.collapse in -->
    </div><!-- /.panel panel-default -->
    <!-- END TEAM LIST -->

  </div><!-- /.col-md-4 col-sm-6-->

  <div class="col-md-8 col-sm-6">

    <!-- BEGIN CHAT -->
    <div class="the-box no-border">
    <h4 class="small-heading more-margin-bottom">자유로운 채팅 공간</h4>
      <div class="chat-wrap scroll-chat-widget">
        <ul class="media-list media-xs media-dotted media-chat">
          <li class="media">
          <a class="pull-left" href="#fakelink">
            <img class="media-object img-circle" src="/img/avatar/avatar.jpg" alt="Avatar">
          </a>
          <div class="media-body">
            <p class="name"><small>김민호</small></p>
            <p class="small">
              되나?
            </p>
            <p class="text-danger"><small>2017-12-18</small></p>
          </div>
          </li>
          <li class="media">
          <a class="pull-left" href="#fakelink">
            <img class="media-object img-circle" src="/img/avatar/avatar.jpg" alt="Avatar">
          </a>
          <div class="media-body">
            <p class="name"><small>김민호</small></p>
            <p class="small">
              되네 !!
            </p>
            <p class="text-danger"><small>2017-12-18</small></p>
          </div>
          </li>
          <li class="media">
          <a class="pull-left" href="#fakelink">
            <img class="media-object img-circle" src="/img/avatar/avatar.jpg" alt="Avatar">
          </a>
          <div class="media-body">
            <p class="name"><small>김민호</small></p>
            <p class="small">
              이 곳은 자유로운 채팅 게시판입니다.
            </p>
            <p class="text-danger"><small>2017-12-18</small></p>
          </div>
          </li>
          <li class="media" id="dia_upload"style="display:none;">
          <a class="pull-right" href="#fakelink">
            <img class="media-object img-circle" src="/img/avatar/avatar.jpg" alt="Avatar">
          </a>
          <div class="media-body me">
            <p class="name"><small>김경이</small></p>
            <p class="small">
             컴공화이팅!
            </p>
            <p><small>2017-12-18</small></p>
          </div>
          </li>
        </ul>
      </div><!-- /.chat-wrap -->
      <div class="action-chat">
        <div class="row">
          <div class="col-sm-8">
              <div class="form-group">
              <input type="text" class="form-control" placeholder="Type and press enter" onkeypress="upload_click();">
              </div>
          </div><!-- /.col-xs-8 -->
          <div class="col-sm-4">
            <div class="form-group">
            <a data-toggle="tooltip" title="Insert files" class="btn btn-success"><i class="fa fa-paperclip"></i></a>
            <a data-toggle="tooltip" title="Insert pitures" class="btn btn-success"><i class="fa fa-picture-o"></i></a>
            </div>
          </div><!-- /.col-xs-8 -->
        </div><!-- /.row -->
      </div><!-- /.action -->
    </div><!-- /.the-box .no-border -->
    <!-- END CHAT -->

  </div><!-- /.col-md-8 col-sm-6-->

</div><!-- /.row -->
