<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KhuCom-munity 홈페이지</title>
  </head>
  <body>
    <form class="Homepagelogin" action="/users/login" method="post">
      <input type="text" name="id" value="ID">
      <input type="password" name="password" value="password">
      <input type="submit" name="loginSubmit" value="확인">
    </form>
  </body>
</html>
