
<%- layout('base') %>

<!-- Begin page heading -->
<h1 class="page-heading">경희대학교 컴퓨터공학과 <small>를 위한 커뮤니티</small></h1>
<!-- End page heading -->

  <!-- BEGIN EXAMPLE ALERT -->
  <div class="alert alert-warning alert-bold-border fade in alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p><strong>안녕하세요!</strong></p>
    <p class="text-muted">경희대학교 컴퓨터공학과의 소통을 위해 만들어진 <a class="alert-link">커뮤니티</a>입니다.
      교내외 많은 정보 얻어가시고 서로 즐겁게 소통할 수 있는 공간이 되었으면 좋겠어요!
      <i class="fa fa-smile-o"></i></p>
  </div>
  <!-- END EXAMPLE ALERT -->

  <h4 class="text-center small-heading more-margin-bottom">최근 게시물</h4>

  <div class="the-box">
    <h4 class="small-title">OWL CAROUSEL AUTOPLAY</h4>
    <div id="owl-lazy-load-autoplay" class="owl-carousel">
      <div class="item"><img class="lazyOwl" src="img/photo/small/img.jpg" alt="Lazy Owl Image"></div>
      <div class="item"><img class="lazyOwl" src="img/photo/small/img.jpg" alt="Lazy Owl Image"></div>
      <div class="item"><img class="lazyOwl" src="img/photo/small/img.jpg" alt="Lazy Owl Image"></div>
      <div class="item"><img class="lazyOwl" src="img/photo/small/img.jpg" alt="Lazy Owl Image"></div>
      <div class="item"><img class="lazyOwl" src="img/photo/small/img.jpg" alt="Lazy Owl Image"></div>
      <div class="item"><img class="lazyOwl" src="img/photo/small/img.jpg" alt="Lazy Owl Image"></div>
    </div><!-- /#owl-lazy-load-autoplay -->
  </div><!-- /.the-box -->
