
<%- layout('base') %>

<script>
  function upload_click(){
    if ( document.getElementById("dia_upload").style.display != 'none' ) {
      document.getElementById("dia_upload").style.display = 'none';
    } else {
      document.getElementById("dia_upload").style.display = '';
	  }
	}
</script>

<!-- Begin page heading -->
<h1 class="page-heading">Community <small> 사진게시판</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/board">커뮤니티</a></li>
  <li class="active">사진게시판</li>
</ol>
<!-- End breadcrumb -->

<div class="the-box no-border">
  <div class="row">
    <div class="col-sm-8">
      <ul class="nav nav-pills nav-success">
        <li class="active"><a href="#fakelink"><i class="fa fa-picture-o"></i> My photos</a></li>
        <li><a href="#fakelink"><i class="fa fa-users"></i> Photo of me</a></li>
        <li><a href="#fakelink"><i class="fa fa-camera"></i> Album</a></li>
      </ul>
    </div><!-- /.col-sm-8 -->
    <div class="col-sm-4 text-right">
      <button class="btn btn-warning btn-perspective" onClick="upload_click();"><i class="fa fa-cloud-upload"></i> Add photos</button>
    </div><!-- /.col-sm-8 -->
  </div><!-- /.row -->
</div><!-- /.the-box no-border -->

<form action="/board/photo" method="post" enctype="multipart/form-data">
  <div class="modal-content" id="dia_upload" style="display:none;">
  	<div class="modal-header">
  		<button type="button" class="close" aria-hidden="true" tabindex="-1" onClick="upload_click();">
  			×
  		</button>
  		<h4>Insert Image</h4>
  	</div>
  	<div class="modal-body">
      <h5>Image Title</h5>
			<input class="note-image-url form-control span12" name="title" type="text">
  		<div class="row-fluid"><h5>Select from files</h5>
  			<input class="note-image-input" type="file" name="image" accept="image/*">
  		</div>
  	</div>
  	<div class="modal-footer">
  		<button href="#" class="btn btn-primary note-image-btn">
  			Insert Image
  		</button>
  	</div>
  </div>
</form>

<!-- BEGIN MAGNIFIC POPUP GALLERY -->
<div class="the-box no-border">
  <div class="magnific-popup-wrap">
      <% if(typeof photoList !== 'undefined'){%>
        <div class="row">
        <%for(var i = 0; i < photoList.length; i++){ %>
           <div class="col-xs-6 col-md-3">
             <a class="zooming" href="/img/photo/large/<%-photoList[i].pfi_filename%>" title="Image title here">
             <img src="/img/photo/large/<%-photoList[i].pfi_filename%>" alt="Image" class="mfp-fade item-gallery img-responsive">
             </a>
           </div><!-- /.col-xs-6 .col-md-3 -->
        <%}%>
        </div><!-- /row -->
      <%}%>
  </div><!-- /.magnific-popup-wrap -->
</div><!-- /.the-box -->
<!-- END MAGNIFIC POPUP GALLERY -->