
<%- layout('base') %>

<style>
  th {
  text-align:center;
}
</style>

<h1 class="page-heading">Search Result <small>검색 결과</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/">검색결과</a></li>
</ol>
<!-- End breadcrumb -->

<!-- Begin table hover -->
<div class="the-box no-border">
<div margin="auto">
<h4 class="small-title">글 목록</h4>
  <div class="table-responsive">
    <table class="table table-th-block table-hover" style="text-align:center;">
      <thead>
        <tr><th style="width: 30px;">No</th><th>제목</th><th>작성자</th><th>작성일</th><th>조회수</th></tr>
      </thead>
      <tbody>
        <tr><td>1</td><td>[글제목]</td><td>[작성자]</td><td>[시간]</td><td>1</td></tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
</div><!-- /.the-box -->
<!-- End table hover -->
