
<%- layout('base') %>

<style>
  th {
  text-align:center;
}
</style>

<h1 class="page-heading">Notice <small>컴공 학생회 공지사항</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/notice">공지사항</a></li>
  <li class="active">학생회 공지사항</li>
</ol>
<!-- End breadcrumb -->

<!-- Begin table hover -->
<div class="the-box no-border">
<div margin="auto">
<h4 class="small-title">TABLE HOVER</h4>
  <div class="table-responsive">
    <table class="table table-th-block table-hover" style="text-align:center;">
      <thead>
        <tr><th style="width: 30px;">No</th><th>제목</th><th>Location</th><th>Date of birth</th><th>Gender</th></tr>
      </thead>
      <tbody>
        <tr><td>1</td><td>Paris Hawker</td><td>Yogyakarta, Indonesia</td><td>August 17, 1990</td><td><span class="label label-danger">Female</span></td></tr>
        <tr><td>2</td><td>Thomas White</td><td>Bndung, Indonesia</td><td>Jan 01, 1987</td><td><span class="label label-success">Male</span></td></tr>
        <tr><td>3</td><td>Doina Slaivici</td><td>Lombok, Indonesia</td><td>Dec 31, 1993</td><td><span class="label label-danger">Female</span></td></tr>
        <tr><td>4</td><td>Mihaela Cihac</td><td>Sydney, Australia</td><td>Jun 05, 1992</td><td><span class="label label-danger">Female</span></td></tr>
        <tr><td>5</td><td>Harold Chavez</td><td>London, United Kingdom</td><td>Mar 10, 1985</td><td><span class="label label-success">Male</span></td></tr>
        <tr><td>6</td><td>Elizabeth Owens</td><td>New York, US</td><td>Jul 01, 1989</td><td><span class="label label-danger">Female</span></td></tr>
        <tr><td>7</td><td>Frank Oliver</td><td>Pattaya, Thailand</td><td>Nov 21, 1991</td><td><span class="label label-success">Male</span></td></tr>
        <tr><td>8</td><td>Mya Weastell</td><td>Boyolali, Indonesia</td><td>Sep 14, 1990</td><td><span class="label label-danger">Female</span></td></tr>
        <tr><td>9</td><td>Harry Nichols</td><td>Berlin, Germany</td><td>Apr 21, 1987</td><td><span class="label label-success">Male</span></td></tr>
        <tr><td>10</td><td>Carl Rodriguez</td><td>Melbourne, Australia</td><td>Oct 11, 1988</td><td><span class="label label-success">Male</span></td></tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
</div><!-- /.the-box -->
<!-- End table hover -->
