
<%- layout('base') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<h1 class="page-heading">Notice <small>컴공 학생회 공지사항</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/notice">공지사항</a></li>
  <li class="active">학생회 공지사항</li>
  <li class="active">글작성</li>
</ol>
<!-- End breadcrumb -->

<div class="the-box">
  <div role="form">
    <div class="form-group">
      <input type="text" class="form-control input-lg" placeholder="글 제목">
    </div>
    <button type="button" onclick="stdPosting()" class="btn btn-default" style="float:right; width:100px;">확인</button>
    <textarea class="summernote-lg" id="stuNotiPostData"></textarea>
  </div>
  <script type="text/javascript">
    function stdPosting(){
        $.ajax({
            url: '/notice/stu/write',
            dataType: 'json',
            type: 'POST',
            data: {
                'msg': $('.note-editable').html()
            },
            success: function(result){
                if(result['SUCCESS'] === 1){
                    alert('포스트 성공!!');
                    console.log(result['url'])
                    window.location.href = result['url'];
                }else{
                    alert('포스트 실패..!!');
                    console.log(result['url'])
                    window.location.href = result['url'];
                }
            }
        })
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</div><!-- /.the-box -->
