
<%- layout('base') %>

<script src="https://unpkg.com/vue"></script>
<style>
  th {
  text-align:center;
}
</style>

<h1 class="page-heading">Notice <small>컴공 학생회 공지사항</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/notice">공지사항</a></li>
  <li class="active">학생회 공지사항</li>
  <li><a href="/notice/stu/write"><i class="fa fa-pencil">&nbsp;글 작성</i></a></li>
</ol>
<!-- End breadcrumb -->

<!-- Begin table hover -->
<div class="the-box no-border">
<div margin="auto">
<h4 class="small-title">글 목록</h4>
  <div class="table-responsive" id="stuNotice-table">
    <table class="table table-th-block table-hover" style="text-align:center;">
      <thead>
        <tr><th style="width: 30px;">No</th><th>제목</th><th>작성자</th><th>작성일</th><th>조회수</th></tr>
      </thead>
      <tbody>
        <tr v-for="content in contents">
          <td>{{content.post_num}}</td>
          <td><a :href="'/notice/stu/detail/' + content.post_num">{{content.post_title}}</a></td>
          <td>{{content.post_username}}</td>
          <td>{{content.post_register_datetime}}</td>
          <td>{{content.post_hit}}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
</div><!-- /.the-box -->
  <script type="text/javascript">
    var arr = <%- JSON.stringify(stuNoticePost)%>;
    var model = {
        "contents": arr
    }

    var list = new Vue({
        el : "#stuNotice-table",
        data : model
    })
  </script>

<!-- End table hover -->
