
<%- layout('base') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<h1 class="page-heading">Notice <small>컴공 학생회 공지사항</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/notice">공지사항</a></li>
  <li class="active">학생회 공지사항</li>
</ol>
<!-- End breadcrumb -->

<div class="the-box no-border blog-detail-content">
  <blockquote>
    <h3>[글 제목]</h3>
    <small>
      <table>
        <tr><td><i class="fa fa-calendar icons"></i>
          Posted : <a href="">[날짜]</a> </td></tr>
        <tr><td><i class="fa fa-flask icons"></i>
        Author: <a href="">[작성자 이름]</a></td></tr>
      </table>
    </small>
  </blockquote>
  <p class="text-justify">
  [글 내용]
  </p>
  <hr />
</div><!-- /the.box .no-border -->
